.breadcrumbs {
    margin: 0;
    background-color: #f1f1f1;
    padding: 17px 2vw;
    display: flex;
    gap: 6px;
}

.breadcrumbs a {
    font-weight: bold;
    color: #00A7BA;
}

.breadcrumbs li+li::before {
    content: ">";
    margin-right: 6px; 
}