header {
    font-family: 'Zen Maru Gothic', Microsoft JhengHei, sans-serif;
    background: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 10px;
}
header ul {
    margin: 0;
    padding: 0;
    flex: 1;
    display: flex;
    justify-content: center;    
    gap: 5vw;
}

header h1 a {
    color: #00A7BA;
    font-weight: 400;
    margin-left: 50px;
}
header h1 a::before {
    content: "";
    background: url('/src/img/whale.png');
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 5px 35px;
    margin-right: 7px;
}

header ul a {
    color: #173565;
}

@media screen and (max-width: 510px) {
    header h1 span {
        display: none;
    }
    header h1 a {
        margin-left: 10px;
    }
    img[width] {
        width: 100%;
    }
}