.form-searchbar {
    box-sizing: border-box;
    padding: 25px;
    background: #fff;
    margin-bottom: 25px;
    border-radius: 4px;
}
.form-searchbar form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.form-searchbar form div:first-child {
    flex: 1 200px;
}

.form-searchbar input[type="search"] {
    appearance: none;
    border: 1px solid #0002;
    padding: 7px;
    border-radius: 4px;
    font-size: 1.3em;
    width: 100%;
}
.form-searchbar select {
    appearance: none;
    width: 130px;
    padding: 12px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #0002;
}
input:focus, select:focus, button:focus, a:focus {
    outline: 2px dashed #00A7BA;
}

.search-container {
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #fff;
    padding: 20px;
}

.search-result {
    padding: 0;
}

.search-result > li {
    box-sizing: border-box;
    border-bottom: 1px dashed #00A7BA;
}

.noresult {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 50px 0 25px;
    color: #00A7BA;
}

.form-searchbar button, .btn-more {
    appearance: none;
    border-radius: 4px;
    border: none;
    padding: 7px 17px;
    background: #00A7BA;
    color: #fff;
    cursor: pointer;
}

.search-more {
    text-align: center;
}