.totop {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}
.totop .arrow {
    width: 10px;
    height: 10px;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(45deg);
}
.totop span {
    position: relative;
    font-size: 1.3em;
    color: #fff;
    text-shadow: 1px 1px 0 rgba(0,0,0,.1);
}